<div class="row InicioComp">

    <div class="col-12 col-lg-7 mb-2">
        <div class="sticky-top formCard">
            <h6 class="text-center yellowColor"><span id="despliegueForm">Crea una Publicacion</span></h6>

            <div id="formularioToggle">
                <form #publicationForm="ngForm" (ngSubmit)="makePublication(publicationForm)">
                    <div class="form-group my-3">
                        <label for="text" class="form-label">¿ En que estas pensando ?</label>
                        <input type="text" name="text" #text="ngModel" placeholder="Escribe una pubicacion"
                            class="form-control" [(ngModel)]="publication.text" required>
                        <span *ngIf="!text.value && text.touched">El texto de la publicacion es obligatoria</span>
                    </div>
                    <div class="form-group my-3">
                        <label for="formFileSm" class="form-label">Elige una imagen</label>
                        <input class="form-control form-control-sm" id="formFileSm" type="file"
                            (change)="imgPublication($event)">

                    </div>
                    <div class="d-grid my-3">
                        <button type="submit" class="btn btnColor"
                            [disabled]="publicationForm.form.invalid">Enviar</button>
                    </div>
                </form>
            </div>

            <hr>

            <h6 class="text-center tituoloColor mt-3"><span>Mensajeria</span></h6>


            <div class="buttonsMsgs">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/inicio/recibidos']"
                            [routerLinkActive]="['active']">Recibidos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/inicio/enviar']" [routerLinkActive]="['active']">Enviar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/inicio/enviados']"
                            [routerLinkActive]="['active']">Enviados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/inicio/msjTotales']"
                            [routerLinkActive]="['active']">Mensajes</a>
                    </li>
                </ul>
            </div>

            <div class="mensajeria mb-3">
                <router-outlet></router-outlet>
            </div>

        </div>
    </div>

    <div class="col-12 col-lg-5">
        <div *ngIf="publications && publications.length == 0">
            <div class="alert alert-warning" role="alert">
                <p class="card-text text-center">Para ver publicaciones haz una o sigue a un usuario</p>
            </div>
        </div>

        <div (click)="cartaPush(publication._id)" *ngFor="let publication of publications; let indice = index"
            class="card Pc">
            <div class="card-header publishCards">
                <div class="headerItems">
                    <div class="imageHeader">
                        <img *ngIf="publication.user.imagePath.length >= 1"
                            [src]="'http://localhost:3000/' + publication.user.imagePath" class="img-card-top">
                        <img *ngIf="publication.user.imagePath.length == 0"
                            [src]="'http://localhost:3000/noProfile/' + 'no-profile-picture-icon-19.jpg'"
                            class="img-card-top">

                    </div>
                    <div>
                        <span class="card-text"><a class="linkspublish text-decoration-none text-white text-capitalize"
                                [routerLink]="['/profile', publication.user._id]"><b>{{publication.user.surname}}</b></a>
                        </span>
                        <span><small><i>{{publication.created_At}}</i></small></span>
                    </div>

                    <span *ngIf="publication.user._id == identity._id" style="margin-left: auto;cursor: pointer;"><a (click)="deletePublish(publication._id)"><i class="fa fa-window-close" aria-hidden="true"></i></a></span>
                </div>
                <p *ngIf="publication.text.length >= 1" class="card-text my-3 text-white">{{publication.text}}</p>
            </div>
            <div class="imagePublication" *ngIf="publication.imagePublication.length >= 1 ">
                <img [src]="'http://localhost:3000/' + publication.imagePublication" class="img-card-top">
            </div> 
            <div class="card-footer">
                <hr class="my-2">
                <div class="d-flex justify-content-between butonsPublish">
                    <span (click)="publicationLikes(publication._id)" style="cursor: pointer;"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> likes </span>
                    <span style="cursor: pointer;"><i class="fa fa-heart" aria-hidden="true"></i> {{publication.numberLikes}}</span>
                    <span class="postInteractions" style="cursor: pointer;" id="{{indice}}"><i class="fa fa-comments-o" aria-hidden="true"></i> comentar </span>
                </div>

                <hr class="my-2">

                <div id="{{indice}}" style="display: none;">
                    <div *ngFor="let comment of publication.comments" class="my-2">
                        <div class="d-flex align-items-start" style="position: relative;">
                            <div class="imgComments mx-2">
                                <img *ngIf="comment.user.imagePath && comment.user.imagePath.length >= 1" [src]="'http://localhost:3000/' + comment.user.imagePath" class="img-card-top">
                                <img *ngIf="comment.user.imagePath == '' && comment.user.imagePath.length == 0" [src]="'http://localhost:3000/noProfile/' + 'no-profile-picture-icon-19.jpg'" class="img-card-top">
                            </div>
                            <div class="comments">
                                <span><b>{{comment.user.surname}}.</b></span>
                                <p class="mt-2">{{comment.text}}</p>
                            </div>
                        </div>
                    </div>
                    <form>
                        <div class="form-group my-3 d-flex align-items-center">
                            <div class="imageFooter">
                                <img *ngIf="identity.imagePath.length >= 1"
                                    [src]="'http://localhost:3000/' + identity.imagePath" class="img-card-top">
                                <img *ngIf="identity.imagePath.length == 0"
                                    [src]="'http://localhost:3000/noProfile/' + 'no-profile-picture-icon-19.jpg'"
                                    class="img-card-top">
                            </div>
                            <input [formControl]="commentCtrl" (keyup.enter)="makeComment(publication._id, $event)"
                                type="text" placeholder="Escribe un comentario..." id="{{publication._id}}"
                                class="form-control" required>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>