/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

.clearfix {
    clear: both;
    float: none;
}

body {
    color: white;
    background: #18191a;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    line-height: normal;
}

header > nav {
    font-size: 18px !important;
}

.Component {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 76.5vh;
}

.InicioComp {
    min-height: 76.5vh;
}

.linksAutentication{
    text-decoration: none;
    color: darkgray;
}

.linksAutentication:hover{
    text-decoration: none;
    color: white;
}

.editaInfo {
    max-width: 240px;
    padding: 10px;
    background-color: #242526;
    margin-bottom: 18px;
    border-radius: 0px 5px 5px 0px;
}

.decorComponent .card{
    height: auto;
    background: #242526;
    border-top: 3px solid #242526 !important;
    box-shadow: 0px 0px 2px gray;
}

.decorComponent .card h4{
    display: block;
    padding: 4px;
    margin: auto;
    margin-top: 19px;
    width: 91%;
    border-radius: 8px;
    background: #242526;
}

.jumbotron {
    width: 90%;
    background: #242526;
    padding: 10px;
    font-family: 'Open Sans',sans-serif;
}

.jumbotron .lead {
    text-align: justify;
}


.ml-auto {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnAbout {
    background: #2c2d31;
}

.btnAbout:hover {
    background: #343436;
}

.sombra{
    position: absolute !important;
    width: 300px;
    margin-right: 40px;
    background: #242526 !important;
}


.posRelative {
    position: relative !important;
}

.dropdown-menu[data-bs-popper] {
    top: 110%;
    left: -68px;
    margin-top: 0.125rem;
    z-index: 2 !important;
}


.listaUsuarios > li > a:hover {
    color: white !important;
    background-color: #282a2c !important;
}

.logOut {
    cursor: pointer;
}

.userImg {
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    width: 48px;
    height: 48px;
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userImg img{
    width: 90%;
    height: 90%;
    border-radius: 100%;
    outline: 1px solid #242526;
    outline-offset: 1px;
}

.butonsPublish span {
    padding: 8px;
    border-radius: 8px;
    text-align: center;
}

.butonsPublish span:hover {
    background-color: rgb(45, 46, 49) !important;
}



.comments {
    margin-left: 50px;
    background-color: #3a3b3c;
    border-radius: 8px 8px 8px 8px;
    padding: 8px;
}


.imgComments {
    position: absolute;
    top: -1;
    left: -10px;
    border-radius: 100%;
    width: 43px;
    height: 43px;
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgComments img{
    width: 88%;
    height: 88%;
    border-radius: 100%;
    outline: 1px solid #242526;
    outline-offset: 1px;
}

.imgUser {
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    width: 48px;
    height: 48px;
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgUser img{
    width: 90%;
    height: 90%;
    border-radius: 100%;
    outline: 1px solid #242526;
    outline-offset: 1px;
}


.usersInfo {
    margin-left: 56px;
}

.usersInfo a{
text-decoration: none;
color: aliceblue;
}



.usuariosCards {
    box-shadow: 0px 0px 4px gray inset;
    margin-bottom: -3px;
    background: #242526;

}

.navegationUsers {
    margin: 0px auto;
    width: 138px;
    margin-top: 6.9px;
}

.navegationUsers a:hover{
    color: white;
}

.navsItems {
    border-radius: 8px;
    box-shadow: 0px 0px 11px gray inset !important;
}



.imagePublication {
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.imagePublication img {
    width: 100%;
    height: 100%;
} 



.imageHeader {
    border-radius: 100%;
    width: 48px;
    height: 48px;
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageHeader img {
    width: 90%;
    height: 90%;
    border-radius: 100%;
    outline: 1px solid #242526;
    outline-offset: 1px;
}

.headerComponent {
    border-radius: 100%;
    width: 48px;
    height: 48px;
    overflow: hidden;
    background-color: rgb(83, 240, 44);
    display: flex;
    justify-content: center;
    align-items: center;
}


.headerComponent img {
    width: 94%;
    height: 94%;
    border-radius: 100%;
}


.publishCards {
    background-color: #242526; 
    padding: 10px;
    box-shadow: inset 0 -4px 0 0 rgb(0 0 0 / 30%);
}

.headerItems {
    display: flex;
}

.headerItems div:nth-child(2){
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.headerItems div:nth-child(2)  span{
    margin-bottom: 2px;
    letter-spacing: 1px;
    
}

.headerItems div:nth-child(2) span a{
    letter-spacing: 2px;
}


.textEnviados {
    text-align: justify;
    margin-left: 42px;
}

.mensajesCard {
    position: relative !important;
    padding-top: 8px !important;
    color: white !important;
}

.mensajesCard :nth-child(2){
font-weight: 550;
}

.mensajesCard :nth-child(3){
    display: block;
    font-size: 13px;
    margin-bottom: 14px;
}

.columnProfile {
    border-left: 2px solid gray;
}

.imgProfileUser {
    border-radius: 100%;
    width: 48px;
    height: 48px;
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgProfileUser img{
    width: 90%;
    height: 90%;
    border-radius: 100%;
    outline: 1px solid gray;
    outline-offset: 1px;
}

.profilInfo {
    margin-left: 27px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding-right: 15px;
}

.stats {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.stats > p {
    border-right: 3px solid gray;
    padding-right: 60px;
}


.stats > p:last-child {
    border: 0px;
}


.ButtonsFollows {
    margin-left: auto;
}


.cpa {
    padding-top: 5rem;
}
 

.fixed {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0px .5px 0px rgb(73, 73, 73);
    background: #242526;
}

.imageLogo {
    min-width: 50px;
    height: 50px;
    border-radius: 10%;
    overflow: hidden;
    margin-right: 20px;
}



.imageLogo img{
    width: 100%;
    height: 100%;
}

.mensajeria {
    margin-top: 20px;
    max-height: 339px;
    width: 100%;
    overflow: auto;
    
}

.formCard {
    top: 80px !important;
    height: auto;
    padding: 12px;
    padding-top: 24px;
    background: #242526;
    border-top: 3px solid #242526!important;
    box-shadow: 1px 1px 2px gray;
}

.fondoUser {
    background: #fbf1d5;
    border-top-color: #f5ba41 !important;
    border-top: 3px solid #f5ba41!important;
    box-shadow: 1px 1px 5px gray;
 
}

.sticky-top {
    z-index: 0 !important;
}

.yellowColor{
   background: white;
   padding: 8px;
   border-radius: 0px 8px 8px 0px;
   color: black;
   text-transform: uppercase;
   margin-bottom: 15px;
   cursor: pointer;
   display: block;
   width: 280px;
}

.tituoloColor{
    background: white; 
    padding: 8px;
    border-radius: 0px 8px 8px 0px;
    color: black;
    text-transform: uppercase;
    margin-bottom: 15px;
    display: block;
    width: 180px;
 }

.btnColor {
    box-shadow: inset 0 -3px 0 0 rgb(0 0 0 / 20%);
    background-color: #242526; 
    color: white;
}

.btnColor:hover {
    color: white !important;
    background-color: rgb(45, 46, 49) !important; 
}

.headerMsj {
    background: #242526;
}

.nav {
    flex-wrap: nowrap !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: white;
    color: black;
}


.nav-link {
    color: white;
}



.envRec { 
    box-shadow: 0px 0px 5px gray !important;
}

.imageFooter {
        border-radius: 100%;
        width: 43px;
        height: 43px;
        overflow: hidden;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
}

.imageFooter img {
    width: 88%;
    height: 88%;
    border-radius: 100%;
    outline: 1px solid #242526;
    outline-offset: 1px;
}

.card {
    background-color: #353333 !important;
}

.Pc {
    box-shadow: 0px 1px 2px gray;
    margin-bottom: 7px !important;
    padding-top: 3px;

}

.pc .card-footer {
    padding: 5px !important;
    background-color: #242526;
}

.pc .card-footer form > div > input {
    display: block;
    width: 88%;
    height: 34px;
    margin-left: 5px;
    border-radius: 100px;
}

.footer {
    width: 100%;
    height: 81px;
    line-height: 81px;
    background: #242526;
    text-align: center;
    margin-top: 15px;
}

.cardProfile {
    border-bottom: 3px solid gray;
    padding-bottom: 19px;
    margin-bottom: 15px;
}

hr {
    margin: 0px !important;
}

  @media screen and (max-width: 1200px) and (min-width: 992px){

    .stats > p {
        border-right: 3px solid gray;
        padding-right: 25px;
    }

  }

  @media screen and (min-width: 1201px){

    .stats > p {
        border-right: 3px solid gray;
        padding-right: 40px;
    }

  }

  @media screen and (min-width: 1400px){

    .stats > p {
        border-right: 3px solid gray;
        padding-right: 60px;
    }

  }

  @media screen and (max-width: 768px){

    .stats > p {
        border-right: 3px solid gray;
        padding-right: 36px;
    }

  }